# Pandas Problem Set

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [32]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [33]:
# your code here
data = pd.read_csv(url, names=names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

Print out the age and class of the 100th patient

In [34]:
# your code here
data.loc[100, ['age','class']]

age      33.0
class     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [35]:
# your code here
no_diabetes = data['class']==1
data_no_diab = data[no_diabetes]
len(data_no_diab)

268

Write code to figure out how many people are classified as having diabetes, class is 1

In [36]:
# your code here
yes_diab = len(data[(data["class"] == 0)])
print(yes_diab)

500

What percent of people have diabetes in the study

In [37]:
# your code here
print(yes_diab/len(data['class']))

0.6510416666666666

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [38]:
# your code here
data.loc[0:4, ['pres', 'class']]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [39]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [42]:
# your code here
plas_m = data['plas'].mean()
print(plas_m)

120.89453125

Create a new dataframe with only people that are above the mean found above

In [43]:
# your code here
df = data[data['plas']>plas_m]
print(len(df))
df

349

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [44]:
# write code here

for i in df:
  temp_mean = sum(df[i])/len(df[i])
  df[i] = df[i].where(df[i] >= temp_mean, 0)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6     0     0    35     0   0.0  0.627   50      1
2       8   183     0     0     0   0.0  0.672    0      1
4       0     0     0    35   168  43.1  2.288    0      1
8       0   197     0    45   543   0.0  0.000   53      1
9       8     0    96     0     0   0.0  0.000   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.000   66      1
761     9   170    74    31     0  44.0  0.000   43      1
764     0     0     0    27     0  36.8  0.000    0      0
765     5     0     0    23     0   0.0  0.000    0      0
766     0     0     0     0     0   0.0  0.000   47      1

[349 rows x 9 columns]

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [45]:
# write code here          
sorted = df.sort_values(by=['skin', 'test', 'pedi'], ignore_index=True)

Notice that there are some repeats in values (like in the age and the preg column).

In [46]:
sorted

     preg  plas  pres  skin  test  mass   pedi  age  class
0       8     0    96     0     0   0.0  0.000   54      1
1       7   196    90     0     0  39.8  0.000   41      1
2       7     0    76     0     0  39.4  0.000   43      1
3      13     0    82     0     0   0.0  0.000   57      0
4      11     0    76     0     0   0.0  0.000    0      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
344     0     0    90    51   220  49.7  0.000    0      1
345     0     0    85    54     0  42.8  0.000    0      0
346     0   162    76    56     0  53.2  0.759    0      1
347     0   180    78    63     0  59.4  2.420    0      1
348     0   197     0    99     0  34.7  0.575   62      1

[349 rows x 9 columns]

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [47]:
# write code here
df.nlargest(4, ["age", "mass"])

     preg  plas  pres  skin  test  mass  pedi  age  class
459     9     0    74    33     0   0.0  0.00   81      0
666     0     0    82     0     0   0.0  0.00   70      1
123     5     0    80     0     0   0.0  0.00   69      0
684     5     0    82     0     0   0.0  0.64   69      0

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [48]:
#write code here
data.nsmallest(4, ["plas", "preg"], keep="last")

     preg  plas  pres  skin  test  mass   pedi  age  class
342     1     0    68    35     0  32.0  0.389   22      0
182     1     0    74    20    23  27.7  0.299   21      0
75      1     0    48    20     0  24.7  0.140   22      0
349     5     0    80    32     0  41.0  0.346   37      1